# local database path

In [1]:
local_file = "C://Users//LENOVO//Desktop//e_commerce_shopping_assistant//datasets//e-commerce-data.sqlite"

In [2]:
import sqlite3

# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect(local_file)
cursor = conn.cursor()

# Create tables
cursor.execute('''
CREATE TABLE IF NOT EXISTS Categories (
    CATEGORY_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    CATEGORY_NAME TEXT NOT NULL
)
''')


cursor.execute('''
CREATE TABLE IF NOT EXISTS Customers (
    CUSTOMER_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    FIRST_NAME TEXT NOT NULL,
    LAST_NAME TEXT NOT NULL,
    EMAIL TEXT NOT NULL UNIQUE,
    PHONE TEXT,
    ADDRESS TEXT,
    CITY TEXT,
    STATE TEXT,
    ZIP_CODE TEXT
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS Products (
    PRODUCT_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    PRODUCT_BRAND TEXT,
    PRODUCT_NAME TEXT NOT NULL,
    CATEGORY_ID INTEGER,
    PRICE REAL NOT NULL,
    STOCK INTEGER NOT NULL,
    FOREIGN KEY (CATEGORY_ID) REFERENCES Categories(CATEGORY_ID)
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS Orders (
    ORDER_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    CUSTOMER_ID INTEGER,
    ORDER_DATE TEXT NOT NULL,
    SHIPPING_ID INTEGER,
    PAYMENT_ID INTEGER,
    FOREIGN KEY (CUSTOMER_ID) REFERENCES Customers(CUSTOMER_ID),
    FOREIGN KEY (SHIPPING_ID) REFERENCES Shipping(SHIPPING_ID),
    FOREIGN KEY (PAYMENT_ID) REFERENCES Payments(PAYMENT_ID)
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS OrderDetails (
    ORDER_DETAIL_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    ORDER_ID INTEGER,
    PRODUCT_ID INTEGER,
    QUANTITY INTEGER NOT NULL,
    UNIT_PRICE REAL NOT NULL,
    FOREIGN KEY (ORDER_ID) REFERENCES Orders(ORDER_ID),
    FOREIGN KEY (PRODUCT_ID) REFERENCES Products(PRODUCT_ID)
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS Payments (
    PAYMENT_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    PAYMENT_METHOD TEXT NOT NULL,
    PAYMENT_DATE TEXT NOT NULL,
    AMOUNT REAL NOT NULL
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS Shipping (
    SHIPPING_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    SHIPPING_METHOD TEXT NOT NULL,
    SHIPPING_COST REAL NOT NULL,
    ESTIMATED_DELIVERY DATE
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS Reviews (
    REVIEW_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    CUSTOMER_ID INTEGER,
    PRODUCT_ID INTEGER,
    REVIEW_TEXT TEXT NOT NULL,
    RATING INTEGER NOT NULL CHECK (RATING BETWEEN 1 AND 5),
    REVIEW_DATE TEXT NOT NULL,
    FOREIGN KEY (CUSTOMER_ID) REFERENCES Customers(CUSTOMER_ID),
    FOREIGN KEY (PRODUCT_ID) REFERENCES Products(PRODUCT_ID)
)
''')

# Insert sample data into Categories
categories = [
    ('Smartphones',),
    ('Smartwatches',),
    ('Computers',),
    ('Televisions',)
]
cursor.executemany('INSERT INTO Categories (CATEGORY_NAME) VALUES (?)', categories)


customers = [
    ('John', 'Doe', 'john.doe@example.com', '+12135551234', '123 Elm St, Apt 4B, Los Angeles, California, 90001, USA', 'Los Angeles', 'CA', '90001'),
    ('Jane', 'Smith', 'jane.smith@example.com', '+16465555678', '456 Oak St, Suite 12, New York, New York, 10001, USA', 'New York', 'NY', '10001'),
    ('Alice', 'Johnson', 'alice.johnson@example.com', '+13125558765', '789 Pine St, Floor 5, Chicago, Illinois, 60601, USA', 'Chicago', 'IL', '60601'),
    ('Bob', 'Brown', 'bob.brown@example.com', '+17135554321', '101 Maple St, Unit 2A, Houston, Texas, 77001, USA', 'Houston', 'TX', '77001'),
    ('Charlie', 'Davis', 'charlie.davis@example.com', '+16025556789', '102 Birch St, Apt 6C, Phoenix, Arizona, 85001, USA', 'Phoenix', 'AZ', '85001'),
    ('Diana', 'Evans', 'diana.evans@example.com', '+13055553456', '103 Cedar St, Unit 7B, Miami, Florida, 33101, USA', 'Miami', 'FL', '33101'),
    ('Edward', 'Wilson', 'edward.wilson@example.com', '+12065559876', '104 Walnut St, Apt 9D, Seattle, Washington, 98101, USA', 'Seattle', 'WA', '98101'),
    ('Fiona', 'Clark', 'fiona.clark@example.com', '+17205556543', '105 Poplar St, Suite 3, Denver, Colorado, 80201, USA', 'Denver', 'CO', '80201'),
    ('George', 'Miller', 'george.miller@example.com', '+14045553210', '106 Chestnut St, Floor 8, Atlanta, Georgia, 30301, USA', 'Atlanta', 'GA', '30301')
]


cursor.executemany('''INSERT INTO Customers (FIRST_NAME, LAST_NAME, EMAIL, PHONE, ADDRESS, CITY, STATE, ZIP_CODE)VALUES (?, ?, ?, ?, ?, ?, ?, ?)''', customers)

# Insert sample data into Products
products = [
    ('Apple', 'iPhone 13', 1, 699.99, 50),
    ('Samsung', 'Samsung Galaxy S21', 1, 799.99, 30),
    ('Apple', 'Apple Watch Series 7', 2, 399.99, 20),
    ('Dell', 'Dell XPS 13', 3, 999.99, 15),
    ('Sony', 'Sony Bravia 55"', 4, 1299.99, 10),
    ('Google', 'Google Pixel 6', 1, 599.99, 25),
    ('OnePlus', 'OnePlus 9', 1, 729.99, 40),
    ('Samsung', 'Samsung Galaxy Watch 4', 2, 349.99, 20),
    ('Garmin', 'Garmin Fenix 6', 2, 499.99, 0),
    ('Apple', 'MacBook Air M1', 3, 1199.99, 10),
    ('Lenovo', 'Lenovo ThinkPad X1', 3, 1399.99, 10),
    ('LG', 'LG OLED 65"', 4, 1799.99, 15),
    ('Samsung', 'Samsung QLED 65"', 4, 1599.99, 10)
]

cursor.executemany('INSERT INTO Products (PRODUCT_BRAND, PRODUCT_NAME, CATEGORY_ID, PRICE, STOCK) VALUES (?, ?, ?, ?, ?)', products)

# Insert sample data into Shipping
shipping = [
    ('Standard Shipping', 5.99, '2024-09-25'),
    ('Express Shipping', 15.99, '2024-09-22')
]
cursor.executemany('INSERT INTO Shipping (SHIPPING_METHOD, SHIPPING_COST, ESTIMATED_DELIVERY) VALUES (?, ?, ?)', shipping)

# Insert sample data into Payments
payments = [
    ('Credit Card', '2024-09-10', 699.99),
    ('PayPal', '2024-09-11', 399.99)
]
cursor.executemany('INSERT INTO Payments (PAYMENT_METHOD, PAYMENT_DATE, AMOUNT) VALUES (?, ?, ?)', payments)

# Insert sample data into Orders
orders = [
    (1, '2024-09-10', 1, 1),
    (2, '2024-09-11', 2, 2)
]
cursor.executemany('INSERT INTO Orders (CUSTOMER_ID, ORDER_DATE, SHIPPING_ID, PAYMENT_ID) VALUES (?, ?, ?, ?)', orders)

# Insert sample data into OrderDetails
order_details = [
    (1, 1, 1, 1, 699.99),
    (2, 2, 3, 1, 399.99)
]
cursor.executemany('INSERT INTO OrderDetails (ORDER_DETAIL_ID, ORDER_ID, PRODUCT_ID, QUANTITY, UNIT_PRICE) VALUES (?, ?, ?, ?, ?)', order_details)

# Insert sample data into Reviews
reviews = [
    (1, 1, 'Great phone!', 5, '2024-09-10'),
    (2, 3, 'Love this watch!', 4, '2024-09-11')
]
cursor.executemany('INSERT INTO Reviews (CUSTOMER_ID, PRODUCT_ID, REVIEW_TEXT, RATING, REVIEW_DATE) VALUES (?, ?, ?, ?, ?)', reviews)

# Commit and close the connection
conn.commit()
conn.close()